spring:
  application:
    name: country-search-service

  datasource:
    url: jdbc:h2:mem:counties-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    open-in-view: false

  h2:
    console:
      enabled: true
      path: /h2-console